In [55]:
%matplotlib inline

from modsim import *

In [56]:
from pandas import read_html

male_whales = 'file:///C:/Users/aclopton/Desktop/MaleWhaleData.html'
female_whales = 'file:///C:/Users/aclopton/Desktop/FemaleWhaleData.html'

def fill_series(time_series):
    for i in range(1915, 2000):
        time_series[i] = 0

males_table = read_html(male_whales, header=0, index_col=0)
females_table = read_html(female_whales, header=0, index_col=0)

In [59]:
system = System(male_births = male_births, male_deaths = male_deaths, 
                female_births = female_births, female_deaths = female_deaths)
males = males_table[0]
females = females_table[0]

male_births = TimeSeries()
female_births = TimeSeries()
male_deaths = TimeSeries()
female_deaths = TimeSeries()

fill_series(male_births)
fill_series(female_births)
fill_series(male_deaths)
fill_series(female_deaths)

males.columns = ['name', 'born', 'died']
females.columns = ['name', 'born', 'died', 'offspring']
male_births

1915    0
1916    0
1917    0
1918    0
1919    0
1920    0
1921    0
1922    0
1923    0
1924    0
1925    0
1926    0
1927    0
1928    0
1929    0
1930    0
1931    0
1932    0
1933    0
1934    0
1935    0
1936    0
1937    0
1938    0
1939    0
1940    0
1941    0
1942    0
1943    0
1944    0
       ..
1970    0
1971    0
1972    0
1973    0
1974    0
1975    0
1976    0
1977    0
1978    0
1979    0
1980    0
1981    0
1982    0
1983    0
1984    0
1985    0
1986    0
1987    0
1988    0
1989    0
1990    0
1991    0
1992    0
1993    0
1994    0
1995    0
1996    0
1997    0
1998    0
1999    0
Length: 85, dtype: int64

In [112]:
def births_this_year(current_year, table):
    births = 0
    for i in range(2, table.index[-1] + 1):
        #print(table.born[i])
        
        if table.born[i] == current_year:
            births +=1
            print (births)
            print (current_year)
        #print(births)
    return births

def total_births(table, time_series):
    birth_series = TimeSeries
    for i in range(time_series.index[0], time_series.index[-1] +1):
        birth_series[i] = births_this_year(str(i), table)
    system.male_births = birth_series
    return birth_series

In [113]:
total_births(males, male_births)

TypeError: 'type' object does not support item assignment

In [114]:
system.male_births

1915    0
1916    0
1917    0
1918    0
1919    0
1920    0
1921    0
1922    0
1923    0
1924    0
1925    0
1926    0
1927    0
1928    0
1929    0
1930    0
1931    0
1932    0
1933    0
1934    0
1935    0
1936    0
1937    0
1938    0
1939    0
1940    0
1941    0
1942    0
1943    0
1944    0
       ..
1970    0
1971    0
1972    0
1973    0
1974    0
1975    0
1976    0
1977    0
1978    0
1979    0
1980    0
1981    0
1982    0
1983    0
1984    0
1985    0
1986    0
1987    0
1988    0
1989    0
1990    0
1991    0
1992    0
1993    0
1994    0
1995    0
1996    0
1997    0
1998    0
1999    0
Length: 85, dtype: int64